@()

@main("Login"){

    <h2>Login</h2>
    <br>
    <form action="validateGet1" method="get">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit">
     </form>
    <br>
    <h3>Login with post</h3><br>
    <form action="validatePost1" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit">
    </form>
}